<!DOCTYPE html>
<html>
    <meta charset="utf-8"> 
    <head>
        <title>Auto BBS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://query.kyrios.cn/static/css/common.css" rel="stylesheet">
        <script src="https://fb.me/react-15.1.0.js"></script>
        <script src="https://fb.me/react-dom-15.1.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script type="text/babel" src="static/js/rscript.jsx"></script>
    </head>
    <body>
        <div class="container mt-2">
            <div class="jumbotron app-jumbo">
                <h1 class="display-4" id="jumbo-title">Auto BBS</h1>
                <hr class="my-4">
                
                <div id="container"></div>

            </div>
        </div>
    </body>
</html>